geopandas~=0.13.2
geoalchemy2~=0.13.3
sqlalchemy~=1.4.39
shapely~=2.0.1
geoautoviz~=0.0.1
osmnx~=1.3.0
libpysal~=4.7.0
momepy~=0.5.4
pandas~=1.5.3
clustergram~=0.8.0
psycopg2~=2.9.6
setuptools~=68.0.0
networkx~=2.8.4
scikit-learn~=1.2.1